.name {
  color: #FFC300;
}

body {
  background-image: url("../images/programming.jpeg");
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.sidebar {
  width: 30%;
  float: left;
  background-color: yellow
}
